# EDNET DATA KT2

1: Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline
# Adjusting column and row numbers to be shown
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
import feather

2: Converting different .csv files into a single file with user_ID

In [2]:
import glob

path = r'C:/Users/user1/Desktop/EDNET DATA/EdNet-KT2/KT2' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for i,filename in enumerate (all_files):
    
    df = pd.read_csv(filename, ',' ,index_col=None, header=0).assign(user_iD=filename.split("\\u")[-1].split(".")[0])
    #df = pd.read_csv(filename,'|',index_col=None, header=0).assign(user_iD=i)
    

    li.append(df)

3: Making a DataFrame

In [3]:
data = pd.concat(li, axis=0, ignore_index=True)
df = data.copy()

In [4]:
df.head()

       timestamp action_type item_id     source user_answer platform user_iD
0  1565096151269       enter   b3544  diagnosis         NaN   mobile       1
1  1565096187972     respond   q5012  diagnosis           b   mobile       1
2  1565096194904      submit   b3544  diagnosis         NaN   mobile       1
3  1565096195001       enter   b3238  diagnosis         NaN   mobile       1
4  1565096218682     respond   q4706  diagnosis           c   mobile       1

In [5]:
df.isnull().sum()

timestamp             0
action_type           0
item_id               0
source                0
user_answer    32976122
platform              0
user_iD               0
dtype: int64

In [6]:
df.tail()

,timestamp,action_type,item_id,source,user_answer,platform,user_iD
56360597,1568964955038,respond,q4511,sprint,b,mobile,9998
56360598,1568964958909,submit,b3043,sprint,NaN,mobile,9998
56360599,1568964975390,enter,b3819,sprint,NaN,mobile,9998
56360600,1568964992921,respond,q5287,sprint,c,mobile,9998
56360601,1568964996503,submit,b3819,sprint,NaN,mobile,9998

In [7]:
df["user_iD"] = df["user_iD"].astype(str).astype(int)
print(df.dtypes)

timestamp       int64
action_type    object
item_id        object
source         object
user_answer    object
platform       object
user_iD         int32
dtype: object

Summary

In [8]:
df.describe()

          timestamp       user_iD
count  5.636060e+07  5.636060e+07
mean   1.557179e+12  3.398023e+05
std    1.009636e+10  2.562198e+05
min    1.535359e+12  1.000000e+00
25%    1.548762e+12  1.213100e+04
50%    1.557195e+12  3.688190e+05
75%    1.565705e+12  5.394050e+05
max    1.574876e+12  8.370940e+05

Converting this into a feather format file

In [9]:
df.to_feather('KT2.ftr')

In [10]:
data1= pd.read_feather('KT2.ftr')

In [11]:
data1.head()

       timestamp action_type item_id     source user_answer platform  user_iD
0  1565096151269       enter   b3544  diagnosis        None   mobile        1
1  1565096187972     respond   q5012  diagnosis           b   mobile        1
2  1565096194904      submit   b3544  diagnosis        None   mobile        1
3  1565096195001       enter   b3238  diagnosis        None   mobile        1
4  1565096218682     respond   q4706  diagnosis           c   mobile        1

In [12]:
data1.isnull().sum()

timestamp             0
action_type           0
item_id               0
source                0
user_answer    32976122
platform              0
user_iD               0
dtype: int64

In [13]:
data1.columns

Index(['timestamp', 'action_type', 'item_id', 'source', 'user_answer',
       'platform', 'user_iD'],
      dtype='object')

In [14]:
print(data1.dtypes)

timestamp       int64
action_type    object
item_id        object
source         object
user_answer    object
platform       object
user_iD         int32
dtype: object

In [ ]:
Listnumbers = list(range(1, 294,445))

In [ ]:
missing_from_range = (set(Listnumbers)).difference(set(data1['user_iD']))