# EDNET DATA KT4

1: Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline
# Adjusting column and row numbers to be shown
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
import feather

2: Converting different .csv files into a single file with user_ID

In [2]:
import glob

path = r'C:/Users/user1/Desktop/EDNET DATA/EdNet-KT4/KT4' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for i,filename in enumerate (all_files):
    
    df = pd.read_csv(filename, ',' ,index_col=None, header=0).assign(user_iD=filename.split("\\u")[-1].split(".")[0])
    
    li.append(df)

3: Making a DataFrame

In [3]:
data = pd.concat(li, axis=0, ignore_index=True)
df = data.copy()

In [4]:
df.head()

,timestamp,action_type,item_id,cursor_time,source,user_answer,platform,user_iD
0,1565096151269,enter,b3544,NaN,diagnosis,NaN,mobile,1
1,1565096187972,respond,q5012,NaN,diagnosis,b,mobile,1
2,1565096194904,submit,b3544,NaN,diagnosis,NaN,mobile,1
3,1565096195001,enter,b3238,NaN,diagnosis,NaN,mobile,1
4,1565096218682,respond,q4706,NaN,diagnosis,c,mobile,1

In [5]:
df.isnull().sum()

timestamp              0
action_type            0
item_id                0
cursor_time     94155592
source             28312
user_answer    103200432
platform           28312
user_iD                0
dtype: int64

In [6]:
df.tail()

,timestamp,action_type,item_id,cursor_time,source,user_answer,platform,user_iD
131441533,1568964975390,enter,b3819,NaN,sprint,NaN,mobile,9998
131441534,1568964992921,respond,q5287,NaN,sprint,c,mobile,9998
131441535,1568964996503,submit,b3819,NaN,sprint,NaN,mobile,9998
131441536,1568964996572,enter,e3819,NaN,sprint,NaN,mobile,9998
131441537,1568965006334,quit,e3819,NaN,sprint,NaN,mobile,9998

Summary

In [7]:
df.describe()

          timestamp   cursor_time
count  1.314415e+08  3.728595e+07
mean   1.557442e+12  2.150567e+04
std    1.002229e+10  4.702323e+04
min    1.535339e+12  0.000000e+00
25%    1.549084e+12  0.000000e+00
50%    1.557540e+12  9.739000e+03
75%    1.565922e+12  1.836300e+04
max    1.575235e+12  1.163313e+07

In [8]:
df["user_iD"] = df["user_iD"].astype(str).astype(int)
print(df.dtypes)

timestamp        int64
action_type     object
item_id         object
cursor_time    float64
source          object
user_answer     object
platform        object
user_iD          int32
dtype: object

Converting this into a csv

In [9]:
df.to_feather('KT4.ftr')

In [10]:
data1= pd.read_feather('KT4.ftr')

In [11]:
data1.head()

,timestamp,action_type,item_id,cursor_time,source,user_answer,platform,user_iD
0,1565096151269,enter,b3544,NaN,diagnosis,None,mobile,1
1,1565096187972,respond,q5012,NaN,diagnosis,b,mobile,1
2,1565096194904,submit,b3544,NaN,diagnosis,None,mobile,1
3,1565096195001,enter,b3238,NaN,diagnosis,None,mobile,1
4,1565096218682,respond,q4706,NaN,diagnosis,c,mobile,1

In [12]:
print(data1.dtypes)

timestamp        int64
action_type     object
item_id         object
cursor_time    float64
source          object
user_answer     object
platform        object
user_iD          int32
dtype: object