In [1]:
import pandas as pd
import numpy as np
import feather

In [2]:
# Read ftr file into a pandas dataframe
KT1 = pd.read_feather("C:/Users/user1/Desktop/Concatinate/KT1.ftr")

# Take a look at the first 100 rows
KT1.head(10)

       timestamp  solving_id question_id user_answer  elapsed_time  user_iD
0  1565096190868           1       q5012           b         38000        0
1  1565096221062           2       q4706           c         24000        0
2  1565096293432           3       q4366           b         68000        0
3  1565096339668           4       q4829           a         42000        0
4  1565096401774           5       q6528           b         59000        0
5  1565096463370           6       q4793           a         58000        0
6  1565096501746           7       q6488           a         35000        0
7  1565097101361           8        q356           b         23000        0
8  1565097171393           9       q1382           c         22000        0
9  1565097240758          10        q830           b         25000        0

In [61]:
# Read ftr file into a pandas dataframe
KT2 = pd.read_feather("C:/Users/user1/Desktop/Concatinate/KT2.ftr")

# Take a look at the first 100 rows
KT2.head(50)

        timestamp action_type item_id     source user_answer platform  user_iD
0   1565096151269       enter   b3544  diagnosis        None   mobile        0
1   1565096187972     respond   q5012  diagnosis           b   mobile        0
2   1565096194904      submit   b3544  diagnosis        None   mobile        0
3   1565096195001       enter   b3238  diagnosis        None   mobile        0
4   1565096218682     respond   q4706  diagnosis           c   mobile        0
5   1565096223029      submit   b3238  diagnosis        None   mobile        0
6   1565096223119       enter   b2898  diagnosis        None   mobile        0
7   1565096290094     respond   q4366  diagnosis           b   mobile        0
8   1565096295925      submit   b2898  diagnosis        None   mobile        0
9   1565096296012       enter   b3361  diagnosis        None   mobile        0
10  1565096337361     respond   q4829  diagnosis           a   mobile        0
11  1565096341309      submit   b3361  diagnosis        None   mobile        0
12  1565096341395       enter   b5060  diagnosis        None   mobile        0
13  1565096395328     respond   q6528  diagnosis           b   mobile        0
14  1565096403465      submit   b5060  diagnosis        None   mobile        0
15  1565096403559       enter   b3325  diagnosis        None   mobile        0
16  1565096461374     respond   q4793  diagnosis           a   mobile        0
17  1565096465406      submit   b3325  diagnosis        None   mobile        0
18  1565096465497       enter   b5020  diagnosis        None   mobile        0
19  1565096499772     respond   q6488  diagnosis           a   mobile        0
20  1565096504384      submit   b5020  diagnosis        None   mobile        0
21  1565097076398       enter    b356     sprint        None   mobile        0
22  1565097095356     respond    q356     sprint           b   mobile        0
23  1565097102642      submit    b356     sprint        None   mobile        0
24  1565097147947       enter   b1382     sprint        None   mobile        0
25  1565097168971     respond   q1382     sprint           c   mobile        0
26  1565097172778      submit   b1382     sprint        None   mobile        0
27  1565097213786       enter    b830     sprint        None   mobile        0
28  1565097238650     respond    q830     sprint           b   mobile        0
29  1565097241501      submit    b830     sprint        None   mobile        0
30  1565097273496       enter   b8312     sprint        None   mobile        0
31  1565097295733     respond  q11259     sprint           b   mobile        0
32  1565097298840      submit   b8312     sprint        None   mobile        0
33  1565097325534       enter   b1092     sprint        None   mobile        0
34  1565097344934     respond   q1092     sprint           a   mobile        0
35  1565097348085      submit   b1092     sprint        None   mobile        0
36  1565097372666       enter    b524     sprint        None   mobile        0
37  1565097394176     respond    q524     sprint           a   mobile        0
38  1565097397355      submit    b524     sprint        None   mobile        0
39  1565097424640       enter    b485     sprint        None   mobile        0
40  1565097445208     respond    q485     sprint           c   mobile        0
41  1565097448675      submit    b485     sprint        None   mobile        0
42  1565097471941       enter   b8314     sprint        None   mobile        0
43  1565097494280     respond  q11261     sprint           b   mobile        0
44  1565097497903      submit   b8314     sprint        None   mobile        0
45  1565097523360       enter   b1329     sprint        None   mobile        0
46  1565097542398     respond   q1329     sprint           b   mobile        0
47  1565097546025      submit   b1329     sprint        None   mobile        0
48  1565097568316       enter   b1204     sprint        None   mobile        0
49  1565097586444     respond   q1204     sprint           c   mobile        0

In [4]:
# Read ftr file into a pandas dataframe
KT3 = pd.read_feather("C:/Users/user1/Desktop/Concatinate/KT3.ftr")

# Take a look at the first 100 rows
KT3.head(10)

       timestamp action_type item_id     source user_answer platform  user_iD
0  1565096151269       enter   b3544  diagnosis        None   mobile        0
1  1565096187972     respond   q5012  diagnosis           b   mobile        0
2  1565096194904      submit   b3544  diagnosis        None   mobile        0
3  1565096195001       enter   b3238  diagnosis        None   mobile        0
4  1565096218682     respond   q4706  diagnosis           c   mobile        0
5  1565096223029      submit   b3238  diagnosis        None   mobile        0
6  1565096223119       enter   b2898  diagnosis        None   mobile        0
7  1565096290094     respond   q4366  diagnosis           b   mobile        0
8  1565096295925      submit   b2898  diagnosis        None   mobile        0
9  1565096296012       enter   b3361  diagnosis        None   mobile        0

In [5]:
# Read ftr file into a pandas dataframe
KT4 = pd.read_feather("C:/Users/user1/Desktop/Concatinate/KT4.ftr")

# Take a look at the first 100 rows
KT4.head(10)

,timestamp,action_type,item_id,cursor_time,source,user_answer,platform,user_iD
0,1565096151269,enter,b3544,NaN,diagnosis,None,mobile,0
1,1565096187972,respond,q5012,NaN,diagnosis,b,mobile,0
2,1565096194904,submit,b3544,NaN,diagnosis,None,mobile,0
3,1565096195001,enter,b3238,NaN,diagnosis,None,mobile,0
4,1565096218682,respond,q4706,NaN,diagnosis,c,mobile,0
5,1565096223029,submit,b3238,NaN,diagnosis,None,mobile,0
6,1565096223119,enter,b2898,NaN,diagnosis,None,mobile,0
7,1565096290094,respond,q4366,NaN,diagnosis,b,mobile,0
8,1565096295925,submit,b2898,NaN,diagnosis,None,mobile,0
9,1565096296012,enter,b3361,NaN,diagnosis,None,mobile,0

In [6]:
#CHECKING COLUMNS DTYPES OF EACH DATASET

In [7]:
KT1.dtypes

timestamp        int64
solving_id       int64
question_id     object
user_answer     object
elapsed_time     int64
user_iD          int64
dtype: object

In [8]:
KT2.dtypes

timestamp       int64
action_type    object
item_id        object
source         object
user_answer    object
platform       object
user_iD         int64
dtype: object

In [9]:
KT3.dtypes

timestamp       int64
action_type    object
item_id        object
source         object
user_answer    object
platform       object
user_iD         int64
dtype: object

In [10]:
KT4.dtypes

timestamp        int64
action_type     object
item_id         object
cursor_time    float64
source          object
user_answer     object
platform        object
user_iD          int64
dtype: object

In [11]:
#CHECKING THE MISSING VALUES PERCENTAGES IN EACH DATASET

In [12]:
percent_missing_KT1 = KT1.isnull().sum() * 100 / len(KT1)
missing_value_KT1 = pd.DataFrame({#'column_name': KT1.columns,
                                 'KT1 Missing Values in Percentage': percent_missing_KT1})

In [13]:
print(missing_value_KT1)

              KT1 Missing Values in Percentage
timestamp                             0.000000
solving_id                            0.000000
question_id                           0.000000
user_answer                           0.029011
elapsed_time                          0.000000
user_iD                               0.000000

In [14]:
percent_missing_KT2 = KT2.isnull().sum() * 100 / len(KT2)
missing_value_KT2 = pd.DataFrame({#'column_name': KT2.columns,
                                 'KT2 Missing Values in Percentage': percent_missing_KT2})

In [15]:
print(missing_value_KT2)

             KT2 Missing Values in Percentage
timestamp                            0.000000
action_type                          0.000000
item_id                              0.000000
source                               0.000000
user_answer                         58.509173
platform                             0.000000
user_iD                              0.000000

In [16]:
percent_missing_KT3 = KT3.isnull().sum() * 100 / len(KT3)
missing_value_KT3 = pd.DataFrame({#'column_name': KT3.columns,
                                 'KT3 Missing Values in Percentage': percent_missing_KT3})

In [17]:
print(missing_value_KT3)

             KT3 Missing Values in Percentage
timestamp                            0.000000
action_type                          0.000000
item_id                              0.000000
source                               0.000000
user_answer                         73.804964
platform                             0.000000
user_iD                              0.000000

In [18]:
percent_missing_KT4 = KT4.isnull().sum() * 100 / len(KT4)
missing_value_KT4 = pd.DataFrame({#'column_name': KT4.columns,
                                 'KT4 Missing Values in Percentage': percent_missing_KT4})

In [19]:
print(missing_value_KT4)

             KT4 Missing Values in Percentage
timestamp                            0.000000
action_type                          0.000000
item_id                              0.000000
cursor_time                         71.633057
source                               0.021540
user_answer                         78.514322
platform                             0.021540
user_iD                              0.000000

In [20]:
#Checking Duplicates

In [21]:
#ANALYZING KT1 DATASET

In [22]:
KT1.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
95293921    False
95293922    False
95293923    False
95293924    False
95293925    False
Length: 95293926, dtype: bool

In [23]:
KT1.duplicated().sum()

4983

In [24]:
KT1['timestamp'].duplicated().sum()

3044385

In [25]:
KT1['solving_id'].duplicated().sum()

95260794

In [26]:
KT1['question_id'].duplicated().sum()

95281642

In [27]:
KT1['user_answer'].duplicated().sum()  #THIS WILL HAVE MANY DUPLICATES AS ITS AN MCQs BASED QUIZ AND OPTIONS will be shown duplicated

95293921

In [28]:
KT1['elapsed_time'].duplicated().sum()

95284628

In [29]:
KT1['user_iD'].duplicated().sum()

94509617

In [30]:
#Analyzing KT2 Dataset

In [31]:
KT2.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
56360597    False
56360598    False
56360599    False
56360600    False
56360601    False
Length: 56360602, dtype: bool

In [32]:
KT2.duplicated().sum()

75778

In [33]:
KT2['timestamp'].duplicated().sum()

136262

In [34]:
KT2['action_type'].duplicated().sum()

56360599

In [35]:
KT2['item_id'].duplicated().sum()

56340571

In [36]:
KT2['source'].duplicated().sum()

56360595

In [37]:
KT2['user_answer'].duplicated().sum()

56360597

In [38]:
KT2['platform'].duplicated().sum()

56360600

In [39]:
KT2['user_iD'].duplicated().sum()

56063158

In [40]:
#ANALZING KT3 DATASET

In [41]:
KT3.duplicated()

0           False
1           False
2           False
3           False
4           False
            ...
89270649    False
89270650    False
89270651    False
89270652    False
89270653    False
Length: 89270654, dtype: bool

In [42]:
KT3.duplicated().sum()

75778

In [43]:
KT3['timestamp'].duplicated().sum()

225677

In [44]:
KT3['action_type'].duplicated().sum()

89270650

In [45]:
KT3['item_id'].duplicated().sum()

89241156

In [46]:
KT3['source'].duplicated().sum()

89270646

In [47]:
KT3['user_answer'].duplicated().sum()

89270649

In [48]:
KT3['platform'].duplicated().sum()

89270652

In [49]:
KT3['user_iD'].duplicated().sum()

88972739

In [50]:
#Analyzing KT4 Dataset

In [51]:
KT4.duplicated()

0            False
1            False
2            False
3            False
4            False
             ...
131441533    False
131441534    False
131441535    False
131441536    False
131441537    False
Length: 131441538, dtype: bool

In [52]:
KT4.duplicated().sum()

461237

In [53]:
KT4['timestamp'].duplicated().sum()

4111879

In [54]:
KT4['action_type'].duplicated().sum()

131441525

In [55]:
KT4['item_id'].duplicated().sum()

131411896

In [56]:
KT4['cursor_time'].duplicated().sum()

131055370

In [57]:
KT4['source'].duplicated().sum()

131441529

In [58]:
KT4['user_answer'].duplicated().sum()

131441533

In [59]:
KT4['platform'].duplicated().sum()

131441535

In [60]:
KT4['user_iD'].duplicated().sum()

131143623