In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
pd.set_option('display.max_columns',None) # To display all columns
pd.set_option('display.max_rows',None) # To display all columns
import feather
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import numpy as np
import pandas as pd
import glob
import warnings
warnings.filterwarnings('ignore')
from functools import reduce

In [2]:
KT1 = pd.read_feather('C:/Users/PC1/Desktop/HASEEB August 2021/KT1.ftr')
KT3 = pd.read_feather('C:/Users/PC1/Desktop/HASEEB August 2021/KT3.ftr')
questions_df = pd.read_csv('C:/Users/PC1/Desktop/HASEEB August 2021/questions.csv')
Users = pd.read_feather('C:/Users/PC1/Desktop/HASEEB August 2021/Output.ftr')

In [4]:
KT1['elapsed_time']= KT1.elapsed_time.div(1000)

In [5]:
KT1.head()

       timestamp  solving_id question_id user_answer  elapsed_time  user_iD
0  1565096190868           1       q5012           b          38.0        1
1  1565096221062           2       q4706           c          24.0        1
2  1565096293432           3       q4366           b          68.0        1
3  1565096339668           4       q4829           a          42.0        1
4  1565096401774           5       q6528           b          59.0        1

In [7]:
Elapsed_time= KT1.groupby('user_iD' , sort=False)['elapsed_time'].median()

In [8]:
Elapsed_time.to_csv('Elapsed.csv')

In [9]:
Times = pd.read_csv('Elapsed.csv')

In [10]:
print(len(Times.elapsed_time))

289886

In [11]:
Times["elapsed_time"].describe()

count    289886.000000
mean         24.851545
std          35.202065
min           0.000000
25%          18.500000
50%          22.500000
75%          28.000000
max       11285.000000
Name: elapsed_time, dtype: float64

In [12]:
Users["Total Questions Attempted"].describe()

count    61100.000000
mean       480.745876
std       1004.493383
min         30.000000
25%         61.000000
50%        149.000000
75%        455.000000
max      34379.000000
Name: Total Questions Attempted, dtype: float64