In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
pd.set_option('display.max_columns',None) # To display all columns
pd.set_option('display.max_rows',None) # To display all columns
import feather
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import numpy as np
import pandas as pd
import glob
import warnings
warnings.filterwarnings('ignore')
from functools import reduce

In [2]:
KT1 = pd.read_feather('KT1.ftr')

K1_userid_counts = KT1.user_iD.value_counts()
mask = K1_userid_counts >= 30
KT1_userids = mask[mask].index

K1 = KT1[KT1.user_iD.isin(KT1_userids)]

In [3]:
KT3 = pd.read_feather('KT3.ftr')
questions_df = pd.read_csv('questions.csv')
Users = pd.read_feather('Output.ftr')

In [4]:
K1['elapsed_time']= K1.elapsed_time.div(1000)   #DIVDING THE ELAPSED TIME by 1000 to further check the mean elapsed time by each user

In [19]:
K1.head()

       timestamp  solving_id question_id user_answer  elapsed_time  user_iD
0  1565096190868           1       q5012           b          38.0        1
1  1565096221062           2       q4706           c          24.0        1
2  1565096293432           3       q4366           b          68.0        1
3  1565096339668           4       q4829           a          42.0        1
4  1565096401774           5       q6528           b          59.0        1

In [21]:
K1['elapsed_time'].describe()

count    2.937368e+07
mean     2.823671e+01
std      8.227296e+01
min      0.000000e+00
25%      1.700000e+01
50%      2.300000e+01
75%      3.266600e+01
max      1.782080e+05
Name: elapsed_time, dtype: float64

In [25]:
Elapsed_time= K1.groupby('user_iD' , sort=False)['elapsed_time'].median()

In [26]:
Elapsed_time.to_csv('Elapsedtime.csv')
#Time = pd.read_csv('Elapsed_time.csv')

In [2]:
#Elapsed_time.to_csv('Elapsedtime.csv')
Times = pd.read_csv('Elapsedtime.csv')

In [28]:
Times.head()

   user_iD  elapsed_time
0        1         36.75
1      100         34.50
2     1000         34.00
3    10004         25.00
4   100043         35.00

In [30]:
Times["elapsed_time"].describe()

count    61103.000000
mean        23.245063
std          6.933344
min          0.000000
25%         19.000000
50%         22.000000
75%         26.000000
max        356.500000
Name: elapsed_time, dtype: float64

In [8]:
dfs = [Users, Time]
df = reduce(lambda left,right: pd.merge(left,right,on='user_iD'), dfs)

In [9]:
df.head()

,user_iD,Total Questions Attempted,Corrected,Incorrected,Percentage,elapsed_time
0,1,1082,753,329,69.593346,49.578442
1,100,33,18,15,54.545455,33.151485
2,1000,1488,930,558,62.500000,41.128524
3,10004,2486,1790,696,72.003218,31.960975
4,100043,714,328,386,45.938375,40.501387

In [10]:
df.to_feather('UsersPerformance.ftr')

In [11]:
df["Total Questions Attempted"].describe()

count    61100.000000
mean       480.745876
std       1004.493383
min         30.000000
25%         61.000000
50%        149.000000
75%        455.000000
max      34379.000000
Name: Total Questions Attempted, dtype: float64

In [12]:
df["elapsed_time"].describe()

count    61100.000000
mean        27.301892
std         26.685021
min          0.000000
25%         21.216216
50%         25.127001
75%         30.487373
max       5170.523810
Name: elapsed_time, dtype: float64