In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
#import sagemaker
#import boto3
import matplotlib.pyplot as plt 
pd.set_option('display.max_columns',None) # To display all columns
pd.set_option('display.max_rows',None) # To display all columns
#client = boto3.client('s3')
import feather
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
from functools import reduce
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
df = pd.read_feather('Dataframe27.ftr')
#dfq=pd.read_feather('dfq.ftr')

In [3]:
df['bundle_id'] ='b' + df['bundle_id'].astype(str)
df.head()

,user_iD,question_id,user_answer,correct_answer,correct,elapsed_time,solving_id,explanation_id,bundle_id,timestamp,deployed_at
0,50,3,b,b,1.0,23.0,1729,3,b3,1560337981670,2019-05-17 11:40:22.784
1,50,4,b,b,1.0,29.0,2109,4,b4,1560769502979,2019-05-17 11:40:25.357
2,50,5,c,c,1.0,24.0,1883,5,b5,1560513025097,2019-05-17 11:40:28.439
3,50,7,d,d,1.0,23.0,1747,7,b7,1560339686648,2019-05-17 11:40:33.992
4,50,29,d,d,1.0,19.0,3905,29,b29,1571227991581,2019-09-17 02:45:04.653

In [4]:
df['bundle_id'].nunique()

8932

In [ ]:
bundle = [f'b{i}' for i in range(1, 8933)]

values = df.sort_values('timestamp').groupby('user_iD').cumcount().add(1)

out = (
  df.assign(value=values).pivot_table('value', 'user_iD', 'bundle_id', fill_value=0)
    .reindex(bundle, axis=1, fill_value=0).reset_index()
)

In [ ]:
#out.reset_index().rename_axis(columns=None)

In [ ]:
out[0:3]

In [ ]:
out.to_feather('Output.ftr')