In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sagemaker
import boto3
import matplotlib.pyplot as plt 
pd.set_option('display.max_columns',None) # To display all columns
pd.set_option('display.max_rows',None) # To display all columns
client = boto3.client('s3')
import feather
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
from functools import reduce
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [3]:
df=pd.read_feather('Dataframe80.ftr')
dfu = pd.read_feather('s3://haseebdata/Dataset/Users.ftr')
dfq = pd.read_feather('s3://haseebdata/Dataset/dfq.ftr')

In [23]:
Repeat=pd.read_feather('RepeatedQuestion.ftr')

In [4]:
df.head()

,user_iD,question_id,user_answer,correct_answer,correct,elapsed_time,solving_id,explanation_id,bundle_id,timestamp,deployed_at
0,50,3654,d,d,1.0,47.0,1,2186,2186,1540815498477,2019-09-17 02:49:05.091
1,50,898,c,c,1.0,17.0,2,898,898,1540815563576,2017-12-29 15:34:47.831
2,50,3633,c,b,0.0,53.0,3,2165,2165,1540815619061,2019-05-17 12:10:59.583
3,50,5805,a,d,0.0,41.0,4,4337,4337,1540815663799,2018-02-20 05:45:24.616
4,50,5680,d,c,0.0,25.0,5,4212,4212,1540815691595,2019-09-16 12:05:05.072

In [70]:
df['bundle_id'].nunique()

8932

In [34]:
df['user_iD'].nunique()

27884

In [62]:
df_total_questions_attempted = df.groupby(['user_iD'], as_index=False , sort=False)['question_id'].count()

df_total_questions_attempted = df_total_questions_attempted.rename(columns={'question_id': 'Total Questions Attempted'})

In [63]:
df_correct = df[df['correct']==1].groupby(['user_iD'], as_index=False, sort=False)['question_id'].count()

df_correct = df_correct.rename(columns={'question_id': 'Corrected'})

In [64]:
df_incorrect = df[df['correct']==0].groupby(['user_iD'], as_index=False, sort=False)['question_id'].count()

df_incorrect = df_incorrect.rename(columns={'question_id': 'Incorrected'})

In [65]:
dfs = [df_total_questions_attempted, df_correct, df_incorrect]
df_final = reduce(lambda left,right: pd.merge(left,right,on='user_iD'), dfs)

In [66]:
df_final['Percentage'] = (df_final['Corrected'] / df_final['Total Questions Attempted']) *100
df_final.head()

   user_iD  Total Questions Attempted  Corrected  Incorrected  Percentage
0       50                       8779       7310         1469   83.266887
1       58                       7216       6568          648   91.019956
2       98                       7032       5965         1067   84.826507
3       99                         48         39            9   81.250000
4      103                          7          6            1   85.714286

In [67]:
#df['elapsed_time']= df.elapsed_time.div(1)   #DIVDING THE ELAPSED TIME by 1000 to further check the mean elapsed time by each user

In [68]:
#Elapsed_time= df.groupby('user_iD' , sort=False)['elapsed_time'].median()
Elapsed_time= df.groupby('user_iD' , sort=False)['elapsed_time']

In [69]:
dfs = [df_final, Elapsed_time]
df2 = reduce(lambda left,right: pd.merge(left,right,on='user_iD'), dfs)

TypeError: Can only merge Series or DataFrame objects, a pandas.core.groupby.generic.SeriesGroupBy was passed

In [ ]:
df2.head()

In [ ]:
df2[]