In [4]:
import pandas as pd
import numpy as np
import feather

In [5]:
KT1 = pd.read_feather("C:/Users/user1/Desktop/Concatinate/KT1.ftr")

In [6]:
KT1.columns

Index(['timestamp', 'solving_id', 'question_id', 'user_answer', 'elapsed_time',
       'user_iD'],
      dtype='object')

In [7]:
KT2 = pd.read_feather("C:/Users/user1/Desktop/Concatinate/KT2.ftr")

In [8]:
KT2.columns

Index(['timestamp', 'action_type', 'item_id', 'source', 'user_answer',
       'platform', 'user_iD'],
      dtype='object')

In [9]:
KT3 = pd.read_feather("C:/Users/user1/Desktop/Concatinate/KT3.ftr")

In [10]:
KT3.columns

Index(['timestamp', 'action_type', 'item_id', 'source', 'user_answer',
       'platform', 'user_iD'],
      dtype='object')

In [11]:
KT4 = pd.read_feather("C:/Users/user1/Desktop/Concatinate/KT4.ftr")

In [12]:
KT4.columns

Index(['timestamp', 'action_type', 'item_id', 'cursor_time', 'source',
       'user_answer', 'platform', 'user_iD'],
      dtype='object')

In [ ]:
#CHECKING THE UNIQUE VALUES FOR EACH DATASET COLUMNS

In [58]:
KT1['user_answer'].unique()

array(['b', 'c', 'a', 'd', None], dtype=object)

In [59]:
pd.value_counts(KT1['user_answer'], dropna=False)

b      27044099
a      25948414
c      24960934
d      17312833
NaN       27646
Name: user_answer, dtype: int64

In [ ]:
#CHECKING THE UNIQUE VALUES FOR KT2

In [16]:
#List all the unique values in a column
KT2['action_type'].unique()

array(['enter', 'respond', 'submit'], dtype=object)

In [23]:
#Count the number of times each unique value appears in a certain column
pd.value_counts(KT2['action_type'])

respond    23384480
enter      16488061
submit     16488061
Name: action_type, dtype: int64

In [17]:
KT2['item_id'].unique()

array(['b3544', 'q5012', 'b3238', ..., 'q50', 'b3639', 'q5107'],
      dtype=object)

In [26]:
pd.value_counts(KT2['item_id'])

b8314    69736
b8316    65856
b8302    65330
b8312    65104
b295     64698
         ...
b6015        2
q50          1
q8159        1
q8664        1
q5107        1
Name: item_id, Length: 20031, dtype: int64

In [18]:
KT2['source'].unique()

array(['diagnosis', 'sprint', 'review_quiz', 'adaptive_offer', 'tutor',
       'my_note', 'review'], dtype=object)

In [24]:
pd.value_counts(KT2['source'])

sprint            40018192
diagnosis          6623563
my_note            3901232
adaptive_offer     2726362
review_quiz        2235537
tutor               480846
review              374870
Name: source, dtype: int64

In [19]:
KT2['user_answer'].unique()

array([None, 'b', 'c', 'a', 'd'], dtype=object)

In [60]:
pd.value_counts(KT2['user_answer'], dropna=False)

NaN    32976122
b       6789798
a       6380790
c       6075325
d       4138567
Name: user_answer, dtype: int64

In [20]:
KT2['platform'].unique()

array(['mobile', 'web'], dtype=object)

In [25]:
pd.value_counts(KT2['platform'])

mobile    39622254
web       16738348
Name: platform, dtype: int64

In [ ]:
#CHECKING THE UNIQUE VALUES FOR KT3

In [27]:
KT3['action_type'].unique()

array(['enter', 'respond', 'submit', 'quit'], dtype=object)

In [28]:
pd.value_counts(KT3['action_type'])

enter      32943087
respond    23384480
submit     16488061
quit       16455026
Name: action_type, dtype: int64

In [29]:
KT3['source'].unique()

array(['diagnosis', 'archive', 'sprint', 'review', 'my_note',
       'review_quiz', 'adaptive_offer', 'tutor'], dtype=object)

In [30]:
pd.value_counts(KT3['source'])

sprint            64679400
my_note            7033452
diagnosis          6623615
adaptive_offer     5124058
review_quiz        3625193
review              806584
tutor               723128
archive             655224
Name: source, dtype: int64

In [32]:
KT3['user_answer'].unique()

array([None, 'b', 'c', 'a', 'd'], dtype=object)

In [54]:
#pd.value_counts(KT3['user_answer'])
pd.value_counts(KT3['user_answer'], dropna=False)

NaN    65886174
b       6789798
a       6380790
c       6075325
d       4138567
Name: user_answer, dtype: int64

In [40]:
KT3['platform'].unique()

array(['mobile', 'web'], dtype=object)

In [41]:
pd.value_counts(KT3['platform'])

mobile    63514718
web       25755936
Name: platform, dtype: int64

In [42]:
#CHECKING THE VALUES FOR KT4 DATASET

In [43]:
KT4['action_type'].unique()

array(['enter', 'respond', 'submit', 'play_video', 'pause_video', 'quit',
       'play_audio', 'pause_audio', 'pay', 'erase_choice',
       'undo_erase_choice', 'refund', 'enroll_coupon'], dtype=object)

In [44]:
pd.value_counts(KT4['action_type'])

enter                32943087
respond              23384480
pause_audio          16879046
play_audio           16580464
submit               16488061
quit                 16455026
erase_choice          4714534
play_video            1928356
pause_video           1898080
undo_erase_choice      142092
pay                     26583
refund                   1126
enroll_coupon             603
Name: action_type, dtype: int64

In [45]:
KT4['item_id'].unique()

array(['b3544', 'q5012', 'b3238', ..., 'q5107', 'e3639', 'c6'],
      dtype=object)

In [46]:
pd.value_counts(KT4['item_id'])

b8314    269120
b1316    225369
b8316    218210
b8302    201593
b8312    191757
          ...
c62           1
c40           1
c45           1
c6            1
c50           1
Name: item_id, Length: 29642, dtype: int64

In [47]:
KT4['source'].unique()

array(['diagnosis', 'archive', 'sprint', 'review', 'my_note',
       'review_quiz', 'adaptive_offer', None, 'tutor'], dtype=object)

In [48]:
pd.value_counts(KT4['source'])

sprint            93699620
my_note           10874843
adaptive_offer     8684878
diagnosis          7823171
review_quiz        4947945
archive            2756068
review             1427814
tutor              1198887
Name: source, dtype: int64

In [49]:
KT4['user_answer'].unique()

array([None, 'b', 'c', 'a', 'd'], dtype=object)

In [55]:
pd.value_counts(KT4['user_answer'], dropna=False)

NaN    103200432
b        8232269
a        7972379
c        7192663
d        4843795
Name: user_answer, dtype: int64

In [51]:
KT4['platform'].unique()

array(['mobile', None, 'web'], dtype=object)

In [57]:
pd.value_counts(KT4['platform'], dropna=False)

mobile    93181238
web       38231988
NaN          28312
Name: platform, dtype: int64