# EDNET DATA KT4

1: Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline
# Adjusting column and row numbers to be shown
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
import feather

2: Converting different .csv files into a single file with user_ID

In [2]:
import glob

path = r'C:/Users/user1/Desktop/Cleaned Data/KT4' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for i,filename in enumerate (all_files):
    
    ##df = pd.read_csv(filename, ',' ,index_col=None, header=0).assign(user_iD=filename.split("\\u")[-1].split(".")[0])
    df = pd.read_csv(filename,',',index_col=None, header=0)
    
    li.append(df)

3: Making a DataFrame

In [3]:
data = pd.concat(li, axis=0, ignore_index=True)
df = data.copy()

In [4]:
df.head()

,timestamp,action_type,item_id,cursor_time,source,user_answer,platform
0,1565096151269,enter,b3544,NaN,diagnosis,NaN,mobile
1,1565096187972,respond,q5012,NaN,diagnosis,b,mobile
2,1565096194904,submit,b3544,NaN,diagnosis,NaN,mobile
3,1565096195001,enter,b3238,NaN,diagnosis,NaN,mobile
4,1565096218682,respond,q4706,NaN,diagnosis,c,mobile

In [5]:
df.isnull().sum()

timestamp              0
action_type            0
item_id                0
cursor_time     94106627
source             27933
user_answer    103152909
platform           27933
dtype: int64

In [6]:
df.tail()

,timestamp,action_type,item_id,cursor_time,source,user_answer,platform
131375190,1568964975390,enter,b3819,NaN,sprint,NaN,mobile
131375191,1568964992921,respond,q5287,NaN,sprint,c,mobile
131375192,1568964996503,submit,b3819,NaN,sprint,NaN,mobile
131375193,1568964996572,enter,e3819,NaN,sprint,NaN,mobile
131375194,1568965006334,quit,e3819,NaN,sprint,NaN,mobile

Converting this into a feather

In [8]:
df.to_feather('KT4new.ftr')

In [9]:
KT4= pd.read_feather('KT4new.ftr')

In [10]:
KT4.head()

,timestamp,action_type,item_id,cursor_time,source,user_answer,platform
0,1565096151269,enter,b3544,NaN,diagnosis,None,mobile
1,1565096187972,respond,q5012,NaN,diagnosis,b,mobile
2,1565096194904,submit,b3544,NaN,diagnosis,None,mobile
3,1565096195001,enter,b3238,NaN,diagnosis,None,mobile
4,1565096218682,respond,q4706,NaN,diagnosis,c,mobile

In [11]:
print(KT4.dtypes)

timestamp        int64
action_type     object
item_id         object
cursor_time    float64
source          object
user_answer     object
platform        object
dtype: object