In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt 
pd.set_option('display.max_columns',None) # To display all columns
pd.set_option('display.max_rows',None) # To display all columns

import feather
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
from functools import reduce

In [2]:
#df2 = pd.read_feather('C:/Users/PC1/Desktop/FINAL DATASET/Dataset.ftr')
dfq = pd.read_feather('C:/Users/PC1/Desktop/FINAL DATASET/questions.ftr')

In [4]:
dfm = pd.read_feather('C:/Users/PC1/Desktop/FINAL DATASET/EDNET.ftr')

In [5]:
df_total_questions_attempted = dfm.groupby(['user_iD'], as_index=False , sort=False)['question_id'].count()

df_total_questions_attempted = df_total_questions_attempted.rename(columns={'question_id': 'Total Questions Attempted'})

In [6]:
df_correct = dfm[dfm['correct']==1].groupby(['user_iD'], as_index=False, sort=False)['question_id'].count()

df_correct = df_correct.rename(columns={'question_id': 'Corrected'})

In [7]:
df_incorrect = dfm[dfm['correct']==0].groupby(['user_iD'], as_index=False, sort=False)['question_id'].count()

df_incorrect = df_incorrect.rename(columns={'question_id': 'Incorrected'})

In [8]:
dfs = [df_total_questions_attempted, df_correct, df_incorrect]
df_final = reduce(lambda left,right: pd.merge(left,right,on='user_iD'), dfs)

In [9]:
df_final['Percentage'] = (df_final['Corrected'] / df_final['Total Questions Attempted']) *100
df_final.head()

   user_iD  Total Questions Attempted  Corrected  Incorrected  Percentage
0        1                       1082        753          329   69.593346
1       10                         16          9            7   56.250000
2      100                         33         18           15   54.545455
3     1000                       1488        930          558   62.500000
4    10000                        405        258          147   63.703704

In [10]:
df2['elapsed_time']= df2.elapsed_time.div(1000)   #DIVDING THE ELAPSED TIME by 1000 to further check the mean elapsed time by each user

In [11]:
Elapsed_time= df2.groupby('user_iD' , sort=False)['elapsed_time'].median()

In [12]:
dfs = [df_final, Elapsed_time]
df3 = reduce(lambda left,right: pd.merge(left,right,on='user_iD'), dfs)

In [13]:
df3.head()

,user_iD,Total Questions Attempted,Corrected,Incorrected,Percentage,elapsed_time
0,1,1082,753,329,69.593346,36.75
1,10,16,9,7,56.250000,27.75
2,100,33,18,15,54.545455,34.50
3,1000,1488,930,558,62.500000,34.00
4,10000,405,258,147,63.703704,25.00

In [14]:
df3.to_feather('All_users_perform.ftr')

In [16]:
dfm.dtypes

timestamp                  int64
solving_id                 int64
question_id               object
user_answer               object
elapsed_time               int64
user_iD                    int32
correct_answer            object
bundle_id                 object
explanation_id            object
part                       int64
tags                      object
deployed_at       datetime64[ns]
correct                  float64
dtype: object

In [18]:
df2.isnull().sum()

timestamp           0
solving_id          0
question_id         0
user_answer     27646
elapsed_time        0
user_iD             0
dtype: int64

In [19]:
dfm.isnull().sum()

timestamp             0
solving_id            0
question_id           0
user_answer       27646
elapsed_time          0
user_iD               0
correct_answer        0
bundle_id             0
explanation_id        0
part                  0
tags                  0
deployed_at           0
correct               0
dtype: int64

In [23]:
A= df2['question_id'].value_counts(dropna = False)

In [24]:
B= dfm['question_id'].value_counts(dropna = False)

In [25]:
dfm['user_answer'].value_counts(dropna = False)

b      27044099
a      25948414
c      24960934
d      17312833
NaN       27646
Name: user_answer, dtype: int64

In [35]:
df2['user_answer'].replace(np.nan , 'd')

In [36]:
df2['user_answer'].value_counts(dropna = False)

b      27044099
a      25948414
c      24960934
d      17312833
NaN       27646
Name: user_answer, dtype: int64

In [37]:
df2[['user_answer']] = df2[['user_answer']].fillna('d')
df2['user_answer'].value_counts(dropna = False)

b    27044099
a    25948414
c    24960934
d    17340479
Name: user_answer, dtype: int64

In [38]:
df2.head()

       timestamp  solving_id question_id user_answer  elapsed_time  user_iD
0  1565096190868           1        5012           b          38.0        1
1  1565096221062           2        4706           c          24.0        1
2  1565096293432           3        4366           b          68.0        1
3  1565096339668           4        4829           a          42.0        1
4  1565096401774           5        6528           b          59.0        1

In [41]:
dfq.isnull().sum()

question_id       0
correct_answer    0
bundle_id         0
explanation_id    0
part              0
tags              0
deployed_at       0
dtype: int64

In [3]:
dfq.dtypes

question_id               object
correct_answer            object
bundle_id                 object
explanation_id            object
part                       int64
tags                      object
deployed_at       datetime64[ns]
dtype: object

In [8]:
dfq.head()

,question_id,correct_answer,bundle_id,explanation_id,part,tags,deployed_at
0,1,b,1,1,1,1;2;179;181,2019-05-17 11:40:17.098
1,2,a,2,2,1,15;2;182,2019-05-17 11:40:19.720
2,3,b,3,3,1,14;2;179;183,2019-05-17 11:40:22.784
3,4,b,4,4,1,9;2;179;184,2019-05-17 11:40:25.357
4,5,c,5,5,1,8;2;179;181,2019-05-17 11:40:28.439

In [10]:
#dfq['question_id'] = dfq['question_id'].astype(str).astype(int)
dfq['bundle_id'] = dfq['bundle_id'].astype(str).astype(int)
dfq['explanation_id'] = dfq['explanation_id'].astype(str).astype(int)
dfq['part'] = dfq['part'].astype(str).astype(int)
#dfq['tags'] = dfq['tags'].astype(str).astype(int)

In [11]:
dfq.dtypes

question_id                int32
correct_answer            object
bundle_id                  int32
explanation_id             int32
part                       int32
tags                      object
deployed_at       datetime64[ns]
dtype: object

In [12]:
dfq.to_feather('question_df.ftr')