In [1]:
import pandas as pd
import numpy as np
#import seaborn as sns
import matplotlib.pyplot as plt 
pd.set_option('display.max_columns',None) # To display all columns
pd.set_option('display.max_rows',None) # To display all columns
import feather
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
from functools import reduce
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [5]:
questions_df = pd.read_csv('C:/Users/PC1/Desktop/DATASET/questions.csv')

In [6]:
questions_df.head()

,question_id,bundle_id,explanation_id,correct_answer,part,tags,deployed_at
0,q1,b1,e1,b,1,1;2;179;181,1558093217098
1,q2,b2,e2,a,1,15;2;182,1558093219720
2,q3,b3,e3,b,1,14;2;179;183,1558093222784
3,q4,b4,e4,b,1,9;2;179;184,1558093225357
4,q5,b5,e5,c,1,8;2;179;181,1558093228439

In [7]:
# clean 'question_df' dataframe AKA: Answer Key
questions_df.question_id = questions_df.question_id.str.slice(start=1)
questions_df.bundle_id = questions_df.bundle_id.str.slice(start=1)
questions_df.explanation_id = questions_df.explanation_id.str.slice(start=1)
questions_df.deployed_at = pd.to_datetime(questions_df.deployed_at, unit='ms')
dfq = questions_df[['question_id', 'correct_answer', 'bundle_id', 'part', 'tags', 'deployed_at']]
dfq.head()

,question_id,correct_answer,bundle_id,part,tags,deployed_at
0,1,b,1,1,1;2;179;181,2019-05-17 11:40:17.098
1,2,a,2,1,15;2;182,2019-05-17 11:40:19.720
2,3,b,3,1,14;2;179;183,2019-05-17 11:40:22.784
3,4,b,4,1,9;2;179;184,2019-05-17 11:40:25.357
4,5,c,5,1,8;2;179;181,2019-05-17 11:40:28.439

In [8]:
df2 = dfq[dfq['question_id'].notnull()]

In [9]:
# convert correct, question_id, andbundle_id tags to integers
df2.question_id = df2.question_id.astype(int)
df2.bundle_id = df2.bundle_id.astype(int)

In [10]:
df2.dtypes

question_id                int32
correct_answer            object
bundle_id                  int32
part                       int64
tags                      object
deployed_at       datetime64[ns]
dtype: object

In [11]:
questions_df.dtypes

question_id               object
bundle_id                 object
explanation_id            object
correct_answer            object
part                       int64
tags                      object
deployed_at       datetime64[ns]
dtype: object